body {
    background: linear-gradient(rgb(35, 35, 35), rgb(10, 10, 10));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: white;
    font-family: "Lora", serif;
    font-weight: bold;
}

p {
    color: rgb(210, 210, 210);
    font-family: "Inter", sans-serif;
  
}

.movie-card{
    border-top-style: solid;
    border-width: 0.5px;
    border-color: white;
    padding: 5px;
    width: 100vw;
    height: 250px;
    margin-bottom: 5px;
}