body {
    background-color: rgb(25, 25, 25);
}

h1 {
    text-align: center;
    color: white;
    font-family: "Lora", serif;
    font-weight: bold;
}

p {
    color: rgb(210, 210, 210);
    font-family: "Inter", sans-serif;
    border-top-style: solid;
    border-width: 0.5px;
    padding: 5px;
}